body {
    background-color: #FFF8E1;
    margin: 0; 
}

#cbc {
    padding: 15px;
    text-align: left;
    font-family: 'Arial', 'Helvetica', sans-serif;
}

#bar {
    font-size: large;
    display: flex; 
    justify-content: flex-end; 
    padding: 10px;
}

th {
    border: 1px solid black;
    padding: 8px;
}

#central {
    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap; 
}

#desc-section,
#form-section {
    width: 45%; 
    margin: 20px; 
}

#desc-section {
    font-size: 25px;
}

#form-section {
    font-size: large;
    text-align: center; 
}

footer {
    text-align: center; 
    padding: 10px;
}
